.box {
    display: inline-block;
    white-space: nowrap;
}
.content {
    width: 100%;
}

.configurator {
  margin-top: 30px;
}

.leftbox{
    width: 100%;
}

.editor {
    width: 100%;
    margin: 30px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}