.box {
    display: inline-block;
    white-space: nowrap;
}
.content {
    width: 100%;
}

.configurator {
  margin-top: -10px;
}

.leftbox{
    width: 100%;
}

.editor {
    width: 100%;
    margin: 30px;
}

.editorbox {
  resize: none;
  height: 40vh;
}

.copybtn, .generatebtn {
  float: right;
  margin-top: -40px;
}

.copybtn:hover, .generatebtn:hover {
  float: right;
  margin-top: -44px;
}

.generatebtn, .generatebtn:hover {
  margin-right: 135px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}